.search {
  grid-column: full-start / full-end;
  background-color: $color-white;
}

.api-results-display {
  grid-column: full-start / full-end;
  background-color: #f5f6f7;
  background-size: cover;
  display: grid;
}
