.login,
.register {
  margin-top: 5rem;
  grid-column: center-start / center-end;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.8),
      rgba($color-black, 0.8)
    ),
    url(../img/login-bg.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  background-size: cover;
  background-position: center;
}

.search {
  grid-column: full-start / full-end;
  background-color: $color-white;
}

.api-results-display {
  grid-column: full-start / full-end;
  background-color: #f5f6f7;
  display: grid;
}
