.search-form {
  padding: 2rem 25rem;
  background-color: #fdfdfd;
  min-height: calc(100vh - 6.2rem);

  @media only screen and (max-width: $bp-1300) {
    padding: 2rem 15rem;
  }

  @media only screen and (max-width: $bp-1000) {
    padding: 2rem 5rem;
  }

  @media only screen and (max-width: $bp-900) {
    padding: 2rem 1rem;
  }

  &__group {
    width: 75%;
    display: flex;
    margin-bottom: 3rem;
    align-items: flex-start;
    padding: 0.5rem 4rem 0.5rem 0;
    border-bottom: 1px solid rgba($color-black, 0.2);

    @media only screen and (max-width: $bp-1500) {
      width: 100%;
    }

    @media only screen and (max-width: $bp-750) {
      flex-direction: column;
    }

    &:nth-child(10) {
      border-bottom: none;
    }

    &--no-border {
      border-bottom: none;
    }
  }

  &__label {
    flex: 0 0 20%;
    display: flex;
    align-items: flex-start;
    font-weight: 300;
    margin-top: 0.7rem;
    color: #551a8b;

    @media only screen and (max-width: $bp-750) {
      margin-bottom: 1.2rem;
      margin-left: 1rem;
    }
  }

  &__group-input-wrapper {
    flex: 0 0 80%;

    @media only screen and (max-width: $bp-750) {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  &__input-wrapper {
    flex: 0 0 80%;

    @media only screen and (max-width: $bp-750) {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  &__tip {
    font-size: 1rem;
    line-height: 1.4;
    width: 70%;
  }

  &__input-text {
    width: 40rem;
    height: 4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: solid 1px $color-grey-medium;
    border-radius: 5px;

    @media only screen and (max-width: $bp-450) {
      width: 30rem;
    }

    @media only screen and (max-width: $bp-350) {
      width: 20rem;
    }

    &:focus {
      border: solid 1px $color-black;
    }
  }

  &__input-integer {
    &--relative {
      position: relative;
    }

    border: 1px solid #aeaeae;
    height: 3.5rem;
    border-radius: 3px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);

    @media only screen and (max-width: $bp-600) {
      max-width: 30%;
    }
  }

  &__group--checkbox {
    display: flex;
    margin-bottom: 1rem;
  }

  &__group-colors {
    &-left,
    &-right {
      display: flex;

      @media only screen and (max-width: $bp-1300) {
        flex-direction: column;
      }
    }

    &-left {
      @media only screen and (max-width: $bp-1300) {
        margin-right: 3rem;
      }
    }
  }

  &__group-rarity {
    &-left,
    &-right {
      display: flex;

      @media only screen and (max-width: $bp-450) {
        flex-direction: column;
      }
    }

    &-left {
      @media only screen and (max-width: $bp-1300) {
        margin-right: 3rem;
      }
    }
  }

  &__label--checkbox {
    margin-right: 1rem;
  }

  &__input-checkbox {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.8rem;

    @media only screen and (max-width: $bp-1500) {
      margin-bottom: 0.3rem;
    }
  }

  &__checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  &__select-menu {
    margin-bottom: 1rem;
    color: #343242;
    margin-right: 1rem;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    // padding: 0.15rem 2.2rem 0.15rem 0.5rem;
    padding: 0 2.2rem 0 0.5rem;
    height: 3.4rem;
    font-size: 1.4rem;
    text-indent: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    background-image: url(../../app/static/img/SVG/arrow-down2.svg);
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 1.2rem 1rem;
    background-color: $color-white;

    @media only screen and (max-width: $bp-1300) {
      margin-right: 0.3rem;
    }

    &--2 {
      @media only screen and (max-width: $bp-600) {
        max-width: 49%;
      }
    }

    &--3 {
      @media only screen and (max-width: $bp-600) {
        max-width: 32%;
      }
    }
  }

  &__svg-size {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }

  &__svg-color {
    fill: #551a8b;
  }

  &__submit-wrapper {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-bottom: 3rem;
    border-top: 1px solid rgba($color-black, 0.2);
    align-items: flex-start;
    padding: 1.5rem 4rem 1.5rem 0;
    background-color: #fdfdfd;

    z-index: 1;
  }

  &__submit {
    border-radius: 3px;
    padding: 0.7rem;
    background-color: #f9f7f5;
    border: 1px solid rgba(85, 26, 139, 0.5);
    color: #551a8b;
    font-weight: 500;
    transition: all 0.2s;
    margin-left: 20%;

    &:hover {
      cursor: pointer;
      background-color: $color-white;
    }
  }

  &__dropdown-span {
    display: flex;
    flex-direction: column;
  }

  &__selected-types,
  &__selected-sets {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0.3rem;
  }

  &__selected-types-list-item,
  &__selected-sets-list-item {
    display: flex;
    margin-bottom: 0.7rem;
  }

  &__selected-types-remove-btn,
  &__selected-sets-remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;
    background-color: $color-grey-light;
    margin-right: 0.7rem;
  }

  &__selected-types-toggler {
    height: 2rem;
    width: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: 0.7rem;

    &--is {
      background-color: $color-green;
    }
    &--not {
      background-color: $color-red-dark;
    }
  }

  &__dropdown {
    position: absolute;
    max-height: 28rem;
    background-color: $color-white;
    z-index: 2;
    top: 100%;
    width: 40rem;
    margin-top: -1rem;
    overflow-y: auto;
    border: 1px solid $color-black;

    &-list {
      list-style: none;

      &-category {
        padding: 0.5rem;
      }

      &-option {
        padding: 0.3rem 2rem;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        &--highlighted {
          background-color: $color-display-nav-light;
        }

        & span {
          text-transform: uppercase;
          margin-left: 1rem;
        }
      }

      &-img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.7rem;
      }
    }
  }
}

.dropdown-wrapper {
  position: relative;
}

.inv-search-price-msg {
  position: absolute;
  bottom: 0;
  right: 0;
  color: red;
}

.relative {
  position: relative;
}
