.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 68%;

  @media only screen and (max-width: $bp-1200) {
    width: 90%;
  }
}
.card-checklist {
  width: 100%;
  justify-self: center;

  &__row {
    display: grid;

    &--7 {
      // grid-template-columns: repeat(7, 1fr);
      grid-template-columns: 10% 22.5% 10% 17.5% 15% 15% 10%;

      // @media only screen and (max-width: $bp-1000) {
      //   grid-template-columns: 10% 30% 17.5% 20% 12.5% 10%;
      // }

      // @media only screen and (max-width: $bp-700) {
      //   grid-template-columns: 10% 30% 25% 25% 10%;
      // }

      // @media only screen and (max-width: $bp-550) {
      //   grid-template-columns: 12.5% 37.5% 25% 25%;
      // }

      // @media only screen and (max-width: $bp-400) {
      //   grid-template-columns: 15% 50% 35%;
      // }
    }

    &--9 {
      grid-template-columns: repeat(9, 1fr);
    }

    &--header {
      border-bottom: 1px solid $color-black;
      color: #531a8b;
      text-transform: uppercase;
      font-size: 1.2rem !important;
      font-weight: 200 !important;
    }

    &--grey {
      background-color: $color-grey-light;
    }

    &:nth-child(even) {
      background-color: $color-grey-light;
    }

    height: 3rem;

    &--header {
      height: 3.5rem;
    }
  }

  &__data {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 1.4rem;

    &--set {
      text-transform: uppercase;
      padding-left: 0.5rem;
    }

    &--name {
      justify-content: flex-start;
    }

    &--rarity {
      text-transform: capitalize;
    }
  }

  &__data-link {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    width: 100%;
    color: $color-black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--price {
      color: #006885;
    }
  }
}

.tooltip {
  position: absolute;
  z-index: 5;
  width: 24rem;
  height: 34rem;

  &__img {
    width: 100%;
    height: 100%;
  }
}

.negative-earnings {
  color: red;
}
.positive-earnings {
  color: green;
}

// .responsive {
//   &--set {
//   }

//   &--name {
//   }

//   &--cost {
//   }

//   &--type {
//     @media only screen and (max-width: $bp-550) {
//       display: none;
//     }
//   }

//   &--rarity {
//     @media only screen and (max-width: $bp-700) {
//       display: none;
//     }
//   }

//   &--artist {
//     @media only screen and (max-width: $bp-1000) {
//       display: none;
//     }
//   }

//   &--price {
//     @media only screen and (max-width: $bp-400) {
//       display: none;
//     }
//   }
// }
