.card {
  width: 100%;
  max-width: 100rem;
  padding: 0 16%;
  display: flex;
  margin-top: 3rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px dashed rgba($color-black, 0.7);

  @media only screen and (max-width: $bp-1200) {
    padding: 0 2.5% 0.7rem 2.5%;
  }

  @media only screen and (max-width: $bp-1000) {
    flex-direction: column;
    align-items: center;
  }

  // Single  sided cards
  &__img-container {
    // margin-right: 10rem;
    z-index: 2;
    border-radius: 100%;
  }

  &__img {
    width: 33rem;
    height: 46rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4.75% / 3.5%;
  }

  // Double sided cards
  &__img-left {
    // margin-right: 10rem;
    width: 33rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  &__img-btn {
    align-self: center;
    margin-top: 1rem;
    height: 2.8rem;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #551a8b;
    background-color: #f9f7f5;
    border: 1px solid rgba(85, 26, 139, 0.5);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.2s;
    padding: 0.2rem 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: $color-white;
      border-color: #634496;
    }
  }

  &__img-svg {
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 0.3rem;
    pointer-events: none;
    @media only screen and (max-width: $bp-1000) {
      flex-direction: column;
    }
  }

  &__img-double-sided {
    perspective: 150rem;
    height: 46rem;
  }

  &__img-double {
    width: 33rem;
    height: 46rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;

    &--back {
      transform: rotateY(180deg);
    }
  }

  &__text {
    background-color: $color-white;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
    margin-top: 2rem;
    width: 34rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin-right: 3rem;
    margin-left: -2rem;

    @media only screen and (max-width: $bp-1000) {
      margin: 1rem 0;
    }

    &-flex {
      margin-bottom: 1rem;
      border-bottom: 1px solid $color-grey-medium;
    }

    &-title {
      display: flex;
      align-items: center;

      &-h3 {
        font-size: 1.8rem;
        font-weight: 400;
        margin-right: 1rem;
      }
    }

    &-color-indicator {
      width: 1.3rem;
      height: 1.3rem;
      border: 1px solid $color-grey-dark;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 2px rgba($color-black, 0.2);
      margin-right: 0.7rem;
      display: inline-block;

      &--U {
        background-color: $color-indicator-blue;
      }
      &--B {
        background-color: $color-indicator-black;
      }
      &--R {
        background-color: $color-indicator-red;
      }
      &--W {
        background-color: $color-indicator-white;
      }
      &--G {
        background-color: $color-indicator-green;
      }
    }

    &-oracle-p {
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }

    &-oracle-flavor {
      font-size: 1.3rem;
      font-style: italic;
    }

    &-illustrator {
      font-size: 1.2rem;
      font-style: italic;
    }

    &-legal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-half {
        display: flex;
        flex-direction: column;
      }

      &-span-container {
        display: flex;
        align-items: center;
        font-size: 1.4rem;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }

      &-span-box {
        width: 6rem;
        height: 2.5rem;
        margin-right: 0.3rem;
        font-size: 1rem;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;

        &--not_legal {
          background-color: #e60000;
        }

        &--legal {
          background-color: #009900;
        }
      }

      &-span-box {
        color: $color-white;
      }
    }
  }

  &__set {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-1300) {
      width: 30rem;
    }

    &-banner {
      display: flex;
      border: 1px solid $color-grey-medium;
      width: 40rem;
      background-color: #49465c;
      color: #fdfdfd;
      padding: 0.7rem;
      border-radius: 3px;

      @media only screen and (max-width: $bp-1300) {
        width: 30rem;
      }

      &-svg-container {
        margin-right: 1rem;
      }

      &-svg {
        width: 2.4rem;
        height: 2.4rem;
        filter: invert(100%);
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
    }

    &-header {
      &-name {
        font-size: 1.7remrem;
      }

      &-code {
        text-transform: uppercase;
      }
    }

    &-prints-header {
      display: flex;
      justify-content: space-between;
      background-color: #49465c;
      color: #fdfdfd;
      font-size: 1.3rem;
      text-transform: uppercase;
      border: 1px solid $color-grey-medium;
      border-radius: 3px;
      padding: 0.3rem 0.7rem;
    }

    &-prints-svg-container {
      height: 1.8rem;
      width: 1.8rem;
      border: 1px solid $color-grey-medium;
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 100%;
    }

    &-prints-svg {
      &--common {
        fill: $color-black;
      }
      &--uncommon {
        fill: $color-silver;
      }
      &--rare {
        fill: $color-gold;
      }
      &--mythic {
        fill: $color-red-dark;
      }
    }

    &-prints-list {
      list-style: none;
      border-radius: 3px;

      &-link:link,
      &-link:visited {
        text-decoration: none;
        color: $color-black;
      }

      &-item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: 1px solid #e7e9ec;
        border-left: 1px solid #cdcdcd;
        background-color: $color-white;
        padding: 0.25rem 0;

        &--pl-14 {
          padding-left: 1.4rem;
          border-bottom: 3px solid $color-black;
        }

        &:hover {
          background-color: $color-grey-light;
        }
      }

      &-item-name-wrapper {
        display: flex;
        align-items: center;
        margin-left: -1rem;
      }

      &-item-set-name {
        margin-left: 0.5rem;
      }

      &-item-price {
        margin-right: 0.7rem;
        color: #006885;
      }
    }
  }
}

.card-page {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  position: relative;
}

.add-to-inv,
.remove-from-inv {
  margin-top: 3rem;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-1000) {
    width: 100%;
  }

  &__header {
    color: #16161d;
    font-size: 2.2rem;
    font-weight: 300;
    margin: 0 auto 1rem auto;
  }
  &__form {
    display: flex;
    flex-direction: column;

    &-price {
      width: 20rem;
      height: 3.5rem;
      margin-bottom: 1rem;
      padding: 1rem;
      border: solid 1px $color-grey-medium;
      border-radius: 5px;

      &:focus {
        border: solid 1px $color-black;
      }
    }

    &-group {
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      margin-bottom: 1.5rem;
      position: relative;

      @media only screen and (max-width: $bp-500) {
        flex-direction: column;
        align-items: center;
      }
    }

    &-label {
      margin-right: 0.3rem;
      display: flex;
      align-content: center;
      justify-content: center;
      color: #16161d;
      margin-top: 0.45rem;

      @media only screen and (max-width: $bp-500) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &-price-msg {
    position: absolute;
    bottom: -1.8rem;
    right: 25%;
    color: red;
  }

  &__submit {
    align-self: center;
    height: 3.1rem;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #551a8b;
    background-color: #f9f7f5;
    border: 1px solid rgba(85, 26, 139, 0.5);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.2s;
    padding: 0.2rem 0.75rem;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &:hover {
      cursor: pointer;
      background-color: $color-white;
      border-color: #634496;
    }
  }
}

.util-space::before,
.util-space::after {
  content: '';
  margin: 0 0.2rem;
}
