.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 68%;

  @media only screen and (max-width: $bp-1200) {
    width: 95%;
  }
}
.card-checklist {
  width: 100%;

  &__row {
    display: grid;

    &--7 {
      grid-template-columns: 10% 22.5% 10% 17.5% 15% 15% 10%;
    }

    &--9 {
      grid-template-columns: 5rem 22.5rem 10rem 12rem 12rem 7.5rem 7.5rem 7.5rem;
    }

    &--header {
      border-bottom: 1px solid $color-black;
      color: #531a8b;
      text-transform: uppercase;
      font-size: 1.2rem !important;
      font-weight: 200 !important;
    }

    &--grey {
      background-color: $color-grey-light;
    }

    &:nth-child(even) {
      background-color: $color-grey-light;
    }

    height: 3rem;

    &--header {
      height: 3.5rem;
    }
  }

  &__data {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 1.4rem;

    &--set {
      text-transform: uppercase;
      padding-left: 0.5rem;
    }

    &--name {
      justify-content: flex-start;
    }

    &--rarity {
      text-transform: capitalize;
    }

    &--inv-header {
      @media only screen and (max-width: $bp-700) {
        font-size: 1.2rem;
      }
    }
  }

  &__data-link {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    width: 100%;
    color: $color-black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--price {
      color: #006885;
    }
  }
}

// .responsive {
//   @media only screen and (max-width: $bp-900) {
//     &--type {
//       display: none;
//     }

//     &--rarity {
//       display: none;
//     }
//   }
// }

// .responsive {
//   &--type {
//     @media only screen and (max-width: $bp-900) {
//       display: none;
//     }
//   }

//   &--rarity {
//     @media only screen and (max-width: $bp-900) {
//       display: none;
//     }
//   }
// }

.tooltip {
  position: absolute;
  z-index: 5;
  width: 24rem;
  height: 34rem;

  &__img {
    width: 100%;
    height: 100%;
  }
}

.negative-earnings {
  color: red;
}
.positive-earnings {
  color: green;
}
