.homepage {
  background: linear-gradient(to bottom, #1d1c25, #431e3f);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  overflow-x: hidden !important;
  justify-content: center;
  position: relative;
  background-size: cover;

  &__center {
    align-self: center;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-450) {
      margin-top: -5rem;
    }
  }

  &__center-heading-wrapper {
    @media only screen and (max-width: $bp-650) {
      margin: 0 auto 0.5rem auto;
      width: 75%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  &__search {
    position: relative;

    // @media only screen and (max-width: $bp-650) {
    //   margin: 0 auto;
    // }
  }

  &__search-input {
    padding: 1.2rem 1.4rem 1.2rem 6.2rem;
    font-size: 3rem;
    background-color: #242031;
    color: #d7d7d7;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    border: 1px solid rgba($color-white, 0.5);

    &::placeholder {
      text-align: center;
    }

    @media only screen and (max-width: $bp-650) {
      width: 80%;
      margin-left: 10%;
    }
  }

  &__search-btn {
    position: absolute;
    left: 6rem;
    top: 2rem;

    @media only screen and (max-width: $bp-650) {
      left: 12rem;
    }

    @media only screen and (max-width: $bp-450) {
      left: 10rem;
    }
  }

  &__icon-sizing {
    &--search {
      width: 3rem;
      height: 3rem;
      transform: translateX(-150%);
    }
  }

  &__icon-path {
    fill: $color-grey-medium;
  }

  &__links {
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-650) {
      flex-direction: column;
    }

    @media only screen and (max-width: $bp-450) {
      margin-left: 7.5%;
    }
  }

  &__link {
    text-decoration: none;
    border: 1px solid rgba(85, 26, 139, 0.5);
    border-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    color: $color-white;
    margin-top: 0.6rem;
    margin-right: 3rem;
    cursor: pointer;
    line-height: 1.4;
    padding: 0.2rem 1rem 0 1rem;
    height: 2.8rem;
    transition: all 0.2s;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    min-width: 9rem;
    text-align: center;

    @media only screen and (max-width: $bp-650) {
      align-self: center;
      width: 14.5rem;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.09);
    }
  }
}
