{% extends "layout.html" %}
{% block content %}

  <div class="card">
    {% if not face_two or adventure %}
      <div class="card__img-container">
        <img src="{{ card.image_uris.large }}" alt="card-img" class="card__img">
      </div>
    {% elif face_one and face_two %}
      <div class="card__img-left">
        <div class="card__img-double-area">
          <div class="card__img-double-sided">
            <img src="{{ face_two.image_uris.large }}" alt="front" class="card__img-double card__img-double--back js--back">
            <img src="{{ face_one.image_uris.large }}" alt="front" class="card__img-double card__img-double--front js--front js--visibile-side">
          </div>
        </div>
        <button class="btn card__img-btn js--card-transform">Transform</button>
      </div>
    {% endif %}

    <div class="card__text">
      <div class="card__text-title card__text-flex">
        <h3 class="card__text-title-h3">{{ face_one.name }}</h3>
        <span class="js--card-mana-cost" data-mana-cost="{{ face_one.mana_cost }}"></span>
      </div>
      <p class="card__text-type card__text-flex">{{ face_one.type_line }}</p>
      <div class="card__text-oracle card__text-flex js--card-oracle">
        {% for text in oracle_texts.face_one_texts %}
          <p class="card__text-oracle-p js--oracle-text-line">{{ text }}</p>
        {% endfor %}
        <p class="card__text-oracle-flavor">{{ face_one.flavor_text }}</p>
      </div>
      {% if face_one.power and face_one.toughness %}
        <p class="card__text-stats card__text-flex">{{ face_one.power }}/{{ face_one.toughness }}</p>
      {% endif %}
      {% if face_one.loyalty %}
        <p class="card__text-stats card__text-flex">Loyalty: {{ face_one.loyalty }}</p>
      {% endif %}

      <!-- This is only for double sided cards  -->
      {% if face_two %}
        <div class="card__text-title card__text-flex">
          <h3 class="card__text-title-h3">{{ face_two.name }}</h3>
          <span class="js--card-mana-cost" data-mana-cost="{{ face_two.mana_cost }}"></span>
        </div>       
          <p class="card__text-type card__text-flex">
            <span class="card__text-color-indicator card__text-color-indicator--{{ color_indicator.color }}"></span> 
            {{ face_two.type_line }}
          </p>
        <div class="card__text-oracle card__text-flex js--card-oracle">
          {% for text in oracle_texts.face_two_texts %}
            <p class="card__text-oracle-p js--oracle-text-line">{{ text }}</p>
          {% endfor %}
          <p class="card__text-oracle-flavor">{{ face_two.flavor_text }}</p>
        </div>
        {% if face_two.power and face_two.toughness %}
          <p class="card__text-stats card__text-flex">{{ face_two.power }}/{{ face_two.toughness }}</p>
        {% endif %}
        {% if face_two.loyalty %}
          <p class="card__text-stats card__text-flex">Loyalty: {{ face_two.loyalty }}</p>
        {% endif %}
      {% endif %}

      <p class="card__text-illustrator card__text-flex">Illustrated by {{ face_one.artist }}</p>
      <div class="card__text-legal card__text-flex">
        <div class="card__text-legal-half">
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.standard }}">{{ card.legalities.standard }}</span> Standard
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.pioneer }}">{{ card.legalities.pioneer }}</span> Pioneer
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.modern }}">{{ card.legalities.modern }}</span> Modern
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.legacy }}">{{ card.legalities.legacy }}</span> Legacy
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.vintage }}">{{ card.legalities.vintage }}</span> Vintage
          </div>
        </div>
        <div class="card__text-legal-half">
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.brawl }}">{{ card.legalities.brawl }}</span> Brawl
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.historic }}">{{ card.legalities.historic }}</span> Historic
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.pauper }}">{{ card.legalities.pauper }}</span> Pauper
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.penny }}">{{ card.legalities.penny }}</span> Penny
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.commander }}">{{ card.legalities.commander }}</span> Commander
          </div>
        </div>
      </div>
    </div>
    <div class="card__set">
      <div class="card__set-banner">
        <div class="card__set-banner-svg-container">
          <img src="{{ set_svg.set_svg }}" alt="set-logo" class="card__set-banner-svg">
        </div>
        <div class="card__set-details">
          <div class="card__set-header">
            <span class="card__set-header-name">{{ card.set_name }}</span>
            <span class="card__set-header-code">({{ card.set }})</span>
          </div>
          <span class="card__set-details-collection">#{{ card.collector_number }} - {{ card.rarity }}</span>
        </div>
      </div>
      <div class="card__set-prints-header">
        <p>Prints</p>
        <p>usd</p>
      </div>
      <ul class="card__set-prints-list">
        {% for p in all_prints %}
          {% if loop.index < 10 %}
            <a class="card__set-prints-list-link js--card-print-link" data-set="{{ p.set }}" data-name="{{ p.name }}">
              <li class="card__set-prints-list-item js--card-print-row" data-cardImg="{{ p.image_uris.normal }}">
                <div class="card__set-prints-list-item-name-wrapper">
                  <div class="card__set-prints-svg-container">
                    <svg width="12" height="12" viewBox="0 0 12 12" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                      <path class="card__set-prints-svg--{{ p.rarity }}" d="M12 4.435c0 .106-.063.221-.188.346l-2.618 2.553.62 3.606.007.144c0 .101-.025.186-.076.256-.05.07-.124.105-.22.105-.091 0-.188-.029-.288-.087l-3.238-1.702-3.238 1.702c-.106.058-.202.087-.288.087-.101 0-.177-.035-.227-.105-.05-.07-.076-.155-.076-.256l.014-.144.62-3.606-2.625-2.553c-.12-.13-.18-.245-.18-.346 0-.178.135-.288.404-.332l3.62-.526 1.623-3.281c.091-.197.209-.296.353-.296s.262.099.353.296l1.623 3.281 3.62.526c.269.043.404.154.404.332z"></path>
                    </svg>
                  </div>
                  <p class="card__set-prints-list-item-set-name">{{ p.set_name }}</p>
                </div>
                <p class="card__set-prints-list-item-price js--card-price">${{ p.prices.usd }}</p>
              </li>
            </a>
          {% endif %}
        {% endfor %}
        <a class="card__set-prints-list-link" href='/results/images/!"{{ card.name }}"&unique=prints'>
          <li class="card__set-prints-list-item">View all prints</li>
        </a>
      </ul>
    </div>
  </div>

{% endblock %}
