{% extends "layout.html" %}
{% block content %}

  <div class="card">
    <div class="card__img">
      <img src="{{ card.image_uris.large }}" alt="card-img" class="card__img-img">
    </div>
    <div class="card__text">
      <div class="card__text-title card__text-flex">
        <h3 class="card__text-title-h3">{{ card.name }}</h3>
        <span class="js--card-mana-cost" data-mana-cost="{{ card.mana_cost }}"></span>
      </div>
      <p class="card__text-type card__text-flex">{{ card.type_line }}</p>
      <div class="card__text-oracle card__text-flex js--card-oracle">
        {% for text in oracle_texts %}
          <p class="card__text-oracle-p js--oracle-text-line">{{ text }}</p>
        {% endfor %}
        <p class="card__text-oracle-flavor">{{ card.flavor_text }}</p>
      </div>
      {% if card.power and card.toughness %}
        <p class="card__text-stats card__text-flex">{{ card.power }}/{{ card.toughness }}</p>
      {% endif %}
      <p class="card__text-illustrator card__text-flex">Illustrated by {{ card.artist }}</p>
      <div class="card__text-legal card__text-flex">
        <div class="card__text-legal-half">
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.standard }}">{{ card.legalities.standard }}</span> Standard
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.pioneer }}">{{ card.legalities.pioneer }}</span> Pioneer
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.modern }}">{{ card.legalities.modern }}</span> Modern
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.legacy }}">{{ card.legalities.legacy }}</span> Legacy
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.vintage }}">{{ card.legalities.vintage }}</span> Vintage
          </div>
        </div>
        <div class="card__text-legal-half">
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.brawl }}">{{ card.legalities.brawl }}</span> Brawl
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.historic }}">{{ card.legalities.historic }}</span> Historic
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.pauper }}">{{ card.legalities.pauper }}</span> Pauper
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.penny }}">{{ card.legalities.penny }}</span> Penny
          </div>
          <div class="card__text-legal-span-container">
            <span class="js--card-legality card__text-legal-span-box card__text-legal-span-box--{{ card.legalities.commander }}">{{ card.legalities.commander }}</span> Commander
          </div>
        </div>
      </div>
    </div>
    <div class="card__set">
      <div class="card__set-banner">
        <div class="card__set-banner-svg-container">
          <img src="{{ set_svg.set_svg }}" alt="set-logo" class="card__set-banner-svg">
          <!-- <svg class="card__set-banner-svg">
            <use xlink:href="{{ set_svg.set_svg }}">
          </svg> -->
        </div>
        <div class="card__set-details">
          <div class="card__set-header">
            <span class="card__set-header-name">{{ card.set_name }}</span>
            <span class="card__set-header-code">({{ card.set }})</span>
          </div>
          <span class="card__set-details-collection">#{{ card.collector_number }} - {{ card.rarity }}</span>
        </div>
      </div>
      <div class="card__set-prints-header">
        <p>Prints</p>
        <p>usd</p>
      </div>
      <ul class="card__set-prints-list">
        {% for p in all_prints %}
          <li class="card__set-prints-list-item">
            <div class="card__set-prints-list-item-name-wrapper">
              <div class="card__set-prints-svg-container">
                <svg width="12" height="12" viewBox="0 0 12 12" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                  <path class="card__set-prints-svg--{{ p.rarity }}" d="M12 4.435c0 .106-.063.221-.188.346l-2.618 2.553.62 3.606.007.144c0 .101-.025.186-.076.256-.05.07-.124.105-.22.105-.091 0-.188-.029-.288-.087l-3.238-1.702-3.238 1.702c-.106.058-.202.087-.288.087-.101 0-.177-.035-.227-.105-.05-.07-.076-.155-.076-.256l.014-.144.62-3.606-2.625-2.553c-.12-.13-.18-.245-.18-.346 0-.178.135-.288.404-.332l3.62-.526 1.623-3.281c.091-.197.209-.296.353-.296s.262.099.353.296l1.623 3.281 3.62.526c.269.043.404.154.404.332z"></path>
                </svg>
              </div>
              <p class="card__set-prints-list-item-set-name">{{ p.set_name }}</p>
            </div>
            <p class="card__set-prints-list-item-price">${{ p.prices.usd }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
