<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Sample Magic App</title>
  </head>
  <body>
    <div class="homepage">
      <div class="homepage__center">
        <h1 class="heading-primary">
          This site is powered by the scryfall API
        </h1>
        <div class="homepage__search">
          <div class="homepage__search-btn js--nav-search">
            <svg
              class="homepage__icon-sizing--search"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <path
                class="homepage__icon-path"
                d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            class="homepage__search-input"
            id="nav-search"
            placeholder="Quick Search"
          />
        </div>
        <div class="homepage__links">
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('search') }}" class="homepage__link"
            >Advanced Search</a
          >
          <a href="{{ url_for('login') }}" class="homepage__link">Login</a>
          <a href="{{url_for('register')}}" class="homepage__link">Register</a>
          {% else %}
          <a href="{{ url_for('search') }}" class="homepage__link"
            >Advanced Search</a
          >
          <a href="{{url_for(user_inventory)}}" class="homepage__link"
            >My Cards</a
          >
          <a href="{{ url_for('logout') }}" class="homepage__link">Logout</a>
          {% endif %}
        </div>
      </div>

      <div class="homepage__colage">
        <div class="homepage__colage-inner">
          <img
            src="{{url_for('static', filename='img/homepage/wilderness-reclamation.jpg')}}"
            alt=""
            class="homepage__colage-card"
          />
          <img
            src="{{url_for('static', filename='img/homepage/Oko-theif-of-crowns.jpg')}}"
            alt=""
            class="homepage__colage-card"
          />
          <img
            src="{{url_for('static', filename='img/homepage/uro-titan-of-nature-s-wrath.jpg')}}"
            alt=""
            class="homepage__colage-card"
          />
          <img
            src="{{url_for('static', filename='img/homepage/nexus-of-fate.jpg')}}"
            alt=""
            class="homepage__colage-card"
          />
          <img
            src="{{url_for('static', filename='img/homepage/lucky-clover.jpg')}}"
            alt=""
            class="homepage__colage-card"
          />
          <img
            src="{{url_for('static', filename='img/homepage/veil-of-summer.jpg')}}"
            alt=""
            class="homepage__colage-card"
          />
          <img
            src="{{url_for('static', filename='img/homepage/once-upon-a-time.jpg')}}"
            alt=""
            class="homepage__colage-card"
          />
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='/js/bundle.js') }}"></script>
  </body>
</html>
