<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <ul class="nav">
      <li class="nav__item nav__item--home">
        <a href="{{ url_for('index') }}" class="nav__link nav__link--home">
          <svg
            class="nav__icon-sizing--home"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <path
              class="nav__icon-path nav__icon-path--home"
              d="M32 19l-6-6v-9h-4v5l-6-6-16 16v1h4v10h10v-6h4v6h10v-10h4z"
            ></path>
          </svg>
        </a>
      </li>
      <li class="nav__item nav__item--search">
        <form action="#" class="nav__search">
          <input
            type="text"
            class="nav__search-input js--nav-search-input"
            id="nav-search"
            placeholder="Quick Search"
          />
          <div class="nav__search-btn js--nav-search">
            <svg
              class="nav__icon-sizing--search"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <path
                class="nav__icon-path"
                d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"
              ></path>
            </svg>
          </div>
        </form>
      </li>
      <li class="nav__item">
        <a href="{{ url_for('search') }}" class="nav__link">Advanced Search</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Sets</a>
      </li>
      {% if current_user.is_anonymous %}
      <li class="nav__item">
        <a href="{{ url_for('login') }}" class="nav__link">Login</a>
      </li>
      <li class="nav__item">
        <a href="{{ url_for('register') }}" class="nav__link">Register</a>
      </li>

      {% else %}
      <li class="nav__item">
        <a href="{{ url_for('user_inventory') }}" class="nav__link"
          >My Inventory</a
        >
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">My Profile</a>
      </li>
      <li class="nav__item">
        <a href="{{ url_for('logout') }}" class="nav__link">Logout</a>
      </li>
      {% endif %}
    </ul>

    <div class="container">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='/js/bundle.js') }}"></script>
  </body>
</html>
